@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-dark: hsl(0, 0%, 3.9%);
    --color-mint-500: oklch(0.72 0.11 178);
    --color-instagram: #e1306c;
    --color-facebook: #1877f2;
    --color-twitter: #1da1f2;
    --color-yellowT : rgba(254,240,138,0.5);

    --animate-card : card
}

@plugin "daisyui";
@plugin "tailwindcss-animate";

